<div th:fragment="howMuchWillYouMakePromptFragment"
     th:with="isApplyingForSomeoneElse=${pagesData.get('whoHadChange').get('whoHadChange').value[0].equals('someoneElse')},
              name=${pagesData.get('clientInfo').get('firstName').value[0]}">
  <label class="form-question"
         th:for="${input.name}"
         th:id="${input.name + '-label'}"
         th:utext="#{${isApplyingForSomeoneElse ? 'how-much-will-you-make.anything-else-them' : 'how-much-will-you-make.anything-else-you' }(${name})}">
  </label>
</div>