<div th:fragment="lostJobCaseworkerFragment"
     th:with="isApplyingForSomeoneElse=${!pagesData.get('whoHadChange').get('whoHadChange').value[0].equals('me')},
              name=${pagesData.get('clientInfo').get('firstName').value[0]}">
  <label class="form-question"
         th:for="${input.name}"
         th:id="${input.name + '-label'}"
         th:utext="#{${isApplyingForSomeoneElse ? 'lost-job.is-there-anything-the-caseworker-should-know-firstname': 'lost-job.is-there-anything-the-caseworker-should-know' }(${name})}">
  </label>
</div>