<div th:fragment="howItWorks">
  <div class="form-card__content">
    <div class="vertical-steps text--centered">
      <div class="vertical-steps__step">
        <div class="emoji emoji--med emoji--memo"></div>
        <p class="text--small with-padding-small">You’ll fill out a form about the change and
          provide proof.</p>
      </div>
      <div class="vertical-steps__step">
        <div class="emoji emoji--med emoji--woman-office-worker"></div>
        <p class="text--small with-padding-small">The county reviews your case and figures out
          if your benefits need to change.</p>
      </div>
      <div class="vertical-steps__step">
        <div class="emoji emoji--med emoji--envelope-with-arrow"></div>
        <p class="text--small with-padding-small">If your benefits change, you'll be
          notified.</p>
      </div>
    </div>
</div>
