<div th:fragment="notYetSupported">
  <div class="grid__item address-validation spacing-below-60" id="general-delivery">
    <div class="left-aligned">
      <p th:text="#{not-yet-supported.you-can-submit-this-change}" class="text--help"></p>
    </div>
    <div class="spacing-above-60">
      <a class="button button--primary" href="https://coloradopeak.secure.force.com/"
         th:text="#{not-yet-supported.go-to-peak}"></a>
    </div>
    <div>
      <a class="button button--primary" href="https://coloradopeak.secure.force.com/"
         th:text="#{not-yet-supported.find-my-county-office}"></a>
    </div>
  </div>
</div>